<% provide(:title, "Directory") %>

<h1>Directory</h1>


<table class="table sort_table">
	<tr>
		<th></th>
		<th><%= sortable "name" %></th>
		<th><%= sortable "username" %></th>
		<th><%= sortable "email" %></th>
		<th><%= sortable "year" %></th>
		<th><%= sortable "rank" %></th>
		<th>Certifications</th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<!-- I don't know why adding this style to the css wasn't working. I was probably doing something wrong. Could someone check this?  -->
		<td style="vertical-align:middle"><%= image_tag user.photo.url(:thumb) %> </td>
		<td style="vertical-align:middle" ><%= user.name %></td>
		<td style="vertical-align:middle" ><%= link_to user.username, user %></td>
		<td style="vertical-align:middle" ><%= user.email %></td>
		<td style="vertical-align:middle" ><%= user.year %></td>
		<td style="vertical-align:middle" ><%= user.rank %></td>
		<td style="vertical-align:middle" >ErrOne has Helpesk, AVCenter certs. What? </td>
	</tr>

	<% end %>
</table>