<% provide(:title, 'Edit User') %>
<h1>Update</h1>
<h2> <%= @user.name %> </h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :username %>
      <%= f.text_field :username %>
      
      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :boxNum %>
      <%= f.text_field :boxNum %>

      <%= f.label :pCard %>
      <%= f.text_field :pCard %>

      <%= f.label :rank %>
      <%= f.text_field :rank %>

      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |g| %>
      <%= render 'shared/error_messages' %>
      <%= g.label :password %>
      <%= g.password_field :password %>

      <%= g.label :password_confirmation, "Confirm Password" %>
      <%= g.password_field :password_confirmation %>
      <%= g.submit "Save Password", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
