<% if logged_in? %>
	<!-- Show logged in page.  -->
	<h1>TODO</h1>
	
<div id="widget" class="span5">
<h2> <% if clocked_in? %> Clock Out <% else %> Clock In <% end %> </h2>
 <%= form_for(@current_shift)  do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :Mentoring %>
      <%= f.check_box_tag :labid %>

	  <%= f.label :Lab %>
      <%= f.text_field :labid %>
    
	  <%= f.label :Date %>
      <%= f.label time.strftime("%Y-%m-%d") %>

      <%= f.label :Start_Time %>
      <%= f.label :starttime %>

      <%= f.label :End_Time %>
      <%= f.label :endtime %>

      <%= f.label :Comment %>
      <%= f.text_field :comment %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
</div>

	<h2>Show Announcements View</h2>
	<h2>Show Upcoming Shifts</h2>
<% else %>
	<%= render :template => 'sessions/new' %>
<% end %>