<% if logged_in? %>
<!-- Show logged in page.  -->
<h1>User Home</h1>

<div class="row">

<div class="span6 widget">
<h2>Upcoming Shifts:</h2>
<%for shift in current_user.get_next_week_user_shifts %>
<ul><%=shift.starttime.strftime("%A %b %e from %R to ")%> <%=shift.endtime.strftime("%R")%> </ul>
<%end%>
</div>

<div class="span3 offset 9 widget">
<h2>
<% if clocked_in? %> Clock Out <% else %> Clock In <% end %>
</h2>

<%= form_for @time_worked do |f| %>
  <%= render 'shared/error_messages', the_model: @time_worked %>

  <% time = Time.now %>

  <%= f.label :Lab %>
  <%= f.select :labid, [['Helpdesk'], ['AV Center'], ['etc..']] %>

  <%= f.label "Date: " + time.strftime("%Y-%m-%d") %>
  <%= f.label "Start Time: " + time.strftime("%H:%M") %>

  <%= f.label :Comment %>
  <%= f.text_field :comment %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
</div>


</div>
<% else %>
<%= render :template => 'sessions/new' %>
<% end %>
