<% provide(:title, 'Create') %>
<h1>Create</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
  
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

	    <%= f.label :rank %>
      <%= f.text_field :rank %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.submit "Create User", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>