<% provide(:title, @user.name) %>



<h2> <%= @user.name %></h2>

<div class="span3">



	<%= image_tag @user.photo.url(:medium) %>

	<!-- Show edit button if you are the user. or an admin  -->
	<% if @user == current_user || current_user.rank == "TCC" %>
	<center><a class="btn" href="<%= edit_user_path(@user) %>">Edit Profile</a></center>
	<% end %>

	<br>
</div>


<br>

<div class="span6">
	<table class="table">
		<col style="font-size:250%;">
		<col width="50">
		<tr> 
			<td> Username: </td>
			<td> <%=@user.username %></td>
		</tr>

		<tr> 
			<td> Email: </td>
			<td> <%= @user.email %></td>
		</tr>

		<tr> 
			<td> Class Year: </td>
			<td> <%= best_in_place @user, :year %></td>
		</tr>

		<tr> 
			<td> Phone: </td>
			<td>  <%= best_in_place @user, :phone %></td>
		</tr>

		<tr> 
			<td> Box number: </td>
			<td>  <%=best_in_place @user, :boxNum %></td>
		</tr>

		<tr> 
			<td> Rank: </td>
			<!-- Yeah.. this still isn't right just yet -->
			<td>  <%= best_in_place @user, :rank, type: :select, collection: [["TCT", "TCT"], ["TC", "TC"], ["TCC", "TCC"]] %></td>
		</tr>

	</table>
</div>
