<% provide(:title, @user.name) %>
<h2> <%= @user.name %></h2>

<div class="span3">

<!-- We should probably just search for any file with @user.username instead of appending .jpg/.png to what we search for -->
<% if (Rails.application.assets.find_asset( @user.username + ".jpg") ) %>
	<%= image_tag(@user.username + ".jpg", id:"profilepic", class:"pull-left") %>
<% else %>
	<%= image_tag("default_profile_image.png", id:"profilepic", class:"pull-left") %>
<% end %>

<!-- Show edit button if you are the user.  -->
<% if @user == current_user %>
	<center><a class="btn" href="<%= edit_user_path(current_user) %>">Edit Profile</a></center>
<% end %>

<br>
</div>

<br>

<div class="span6">
<table class="table">
	  <col style="font-size:250%;">
  <col width="50">
	<tr> 
<td> Username: </td>
<td>  <%=@user.username %></td>
	</tr>

	<tr> 
<td> Email: </td>
<td>  <%=@user.email %></td>
	</tr>

	<tr> 
<td> Phone: </td>
<td>  <%=@user.phone %></td>
	</tr>

	<tr> 
<td> Box number: </td>
<td>  <%=@user.boxNum %></td>
	</tr>

	<tr> 
<td> Rank: </td>
<td>  <%=@user.rank %></td>
	</tr>

</table>
</div>
