<% if current_user.clocked_in? %>
	<h2> Clock Out </h2>

    <%= render 'shared/error_messages', the_model: the_model %>

    <%= form_for the_model do |f| %>

      <%= f.label :Lab %>
      <%= f.select :lab_id, [['Helpdesk'], ['AV Center'], ['etc..']] %>
  
      <%= f.label "Date: " + the_model.starttime.strftime("%Y-%m-%d") %>
  
      <%= f.label "Start Time: " + the_model.starttime.strftime("%H:%M") %>
  
      <%= f.label :Comment %>
      <%= f.text_field :comment %>
  
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
   <% end %>

<% else %> 

	<h2> Clock In </h2>

	<%= render 'shared/error_messages', the_model: the_model %>

	<%= form_for the_model do |f| %>

      <% time = Time.now %>

      <%= f.label :Lab %>
      <%= f.select :lab_id, [['Helpdesk'], ['AV Center'], ['etc..']] %>
  
      <%= f.label "Date: " + time.strftime("%Y-%m-%d") %>
  
      <%= f.label "Start Time: " + time.strftime("%H:%M") %>
  
      <%= f.label :Comment %>
      <%= f.text_field :comment %>
  
      <%= f.hidden_field :user_id %>
  
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %> 

<% end %>