<h1>Create All Shifts</h1>

<!-- defaulting to helpdesk for now -->
<h2>Make sure to double check the <%= link_to "lab times", edit_lab_path(@lab) %> </h2>

<!-- 

Beginning Semester
last day of shifts for the regularly scheduled semester
last day of shifts for entire semester


last day of shifts before fall break.
latest time required for working ^ day.
first day after fall break.
last day of shifts before thanksgiving.
latest time required for working ^ day.
first day after thanksgiving break.

OR

last day of shifts before spring break.
latest time required for working ^ day.
first day after spring break.

 -->




 <%= form_tag create_all_path do %>
 	<%= label_tag "First day of semester" %>
 	<%= text_field_tag "semester_start_date" , nil, placeholder: "Semester start date" %>

 	<%= label_tag "Reading day" %>
 	<%= text_field_tag "reading_day", nil, placeholder: "Reading day" %>

 	<%= label_tag "Last day of finals" %>
 	<%= text_field_tag "semester_end_date", nil, placeholder: "Semester end date" %>


 	<%= submit_tag "Save" %>
 <% end %>