<p id="notice"><%= notice %></p>

<p>
  <b>Endtime:</b>
  <%= @shift.endtime %>
</p>

<p>
  <b>Filled:</b>
  <%= @shift.filled %>
</p>

<p>
  <b>Lab:</b>
  <%= @shift.lab_id %>
</p>

<p>
  <b>Starttime:</b>
  <%= @shift.starttime %>
</p>

<p>
  <b>User:</b>
  <%= @shift.user_id %>
</p>


<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
