
<div class="span3">
    <ul id="sidenav" class="nav nav-pills nav-stacked">

      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(subrequest_path) %>"> <%= link_to "Sub Requests", subrequest_path %></li>
      <li class="<%= 'active' if current_page?(schedule_path) %>"><%= link_to "Schedule", schedule_path %></li>
      <li class="<%= 'active' if current_page?(combo_path) %>"><%= link_to "Combo", combo_path %></li>
      <li class="<%= 'active' if current_page?(directory_path) %>"><%= link_to "Directory", directory_path %></li>
      <li class="<%= 'active' if current_page?(totalhrs_path) %>"><%= link_to "Total hours", totalhrs_path %></li>

	<br>
		<% if current_user.rank == "TCC" %>
<<<<<<< HEAD
			<li class="<%= 'active' if current_page?(makeuser_path) %>"><%= link_to "Create User", makeuser_path %></li>
=======
			<li class="<%= 'active' if current_page?(newuser_path) %>"><%= link_to "Create User", newuser_path %></li>
      <li class="<%= 'active' if current_page?(prepsemester_path) %>"><%= link_to "Create All Shifts", prepsemester_path %></li>
>>>>>>> c18dbf3a45de04df1ce77b146d7a9baac0278cd6
		<% end %>

    </ul>
</div>


